### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# This section of code (importing dependencies and loading file) were given to us in the starter code
# Dependencies and Setup
import pandas as pd
import numpy as np

# Load the file
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Verify the file path and that it has been linked
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Use nunique method to capture unique values of SN, the column that indicates players
total_players = purchase_data["SN"].nunique()

# Display total_players in a dataframe
unique_players_df  = pd.DataFrame([total_players], columns = ["Total Players"])
unique_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Get number of unique items from item ID column
total_unique_items = purchase_data["Item ID"].nunique()

# Get mean price from price column
avg_purchase_price = purchase_data["Price"].mean()

# Get the total number of purchases from any column with all rows filled in
total_number_purchases = purchase_data["Price"].count()

# Get the total revenue from summing the price column
total_revenue = purchase_data["Price"].sum()

# Put all the above into a single dataframe
index = [0]
purchasing_summary_table = pd.DataFrame({"Number of Unique Items" : total_unique_items, "Average Price" : avg_purchase_price, "Number of Purchases" : total_number_purchases, "Total Revenue" : total_revenue}, index)
purchasing_summary_table.head()

# Add formatting to put $ sign in front of avg price and revenue, and round to 2 decimal places
purchasing_summary_table["Average Price"] = purchasing_summary_table["Average Price"].map("${:.2f}".format)
purchasing_summary_table["Total Revenue"] = purchasing_summary_table["Total Revenue"].map("${:.2f}".format)
purchasing_summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# create df grouped by gender
gender_df = purchase_data.groupby("Gender")

# get number of unique in each group from gender_df
dedupe_gender_counts = gender_df["SN"].nunique()

# calculate % representation of each group
player_gender_percent = 100*(dedupe_gender_counts/total_players)

# put all the above into a shared dataframe
gender_summary_table = pd.DataFrame({"Total Counts" : dedupe_gender_counts, "Percentage of Players" : player_gender_percent})
gender_summary_table.head()

# round to 2 decimal places on percentage of players
gender_summary_table["Percentage of Players"] = gender_summary_table["Percentage of Players"].map("{:.2f}%".format)
gender_summary_table

                       Total Counts Percentage of Players
Gender
Female                           81                14.06%
Male                            484                84.03%
Other / Non-Disclosed            11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# get purchase count by gender from gender_df
purchase_count = gender_df["Price"].count()

# get avg purchase price by gender from gender_df
purchase_price = gender_df["Price"].mean()

# get total purchase value from gender_df
purchase_value = gender_df["Price"].sum()

# use unique player counts to determine avg total purchase per person
avg_tot_purchase_pp = purchase_value / dedupe_gender_counts

# create a common dataframe to store results in
gender_purchase_summary_table = pd.DataFrame({"Purchase Count" : purchase_count, "Average Purchase Price" : purchase_price, "Total Purchase Value" : purchase_value, "Avg Total Purchase per Person" : avg_tot_purchase_pp})

# format values - $ signs where needed and round prices to two digits
gender_purchase_summary_table["Average Purchase Price"] = gender_purchase_summary_table["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_summary_table["Total Purchase Value"] = gender_purchase_summary_table["Total Purchase Value"].map("${:.2f}".format)
gender_purchase_summary_table["Avg Total Purchase per Person"] = gender_purchase_summary_table["Avg Total Purchase per Person"].map("${:.2f}".format)
gender_purchase_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins for the age groups
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 1000]
ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Use pd.cut to cut the data into our bins
purchase_data["Age Band"]  = pd.cut(purchase_data["Age"], bins, labels=ranges)

# Group age buckets
purchase_data_age_bucketed = purchase_data.groupby("Age Band")

# Eliminate duplicate players from count
deduped_counts = purchase_data_age_bucketed["SN"].nunique()

# Create dataframe for results
age_summary_table = pd.DataFrame({"Total Count" : deduped_counts, "Percentage of Players" : (100*(deduped_counts/total_players))})

# Format percentage of players column
age_summary_table["Percentage of Players"] = age_summary_table["Percentage of Players"].map("{:.2f}%".format)
age_summary_table

          Total Count Percentage of Players
Age Band
<10                17                 2.95%
10-14              22                 3.82%
15-19             107                18.58%
20-24             258                44.79%
25-29              77                13.37%
30-34              52                 9.03%
35-39              31                 5.38%
40+                12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Use the same bins and bin names as used previously
# Use the purchase dataframe grouped by age from last section, but do not remove dupes with nunique
purchase_data_age_bucketed.head()

# Do calculations needed to get results
purchase_count = purchase_data_age_bucketed["Age"].count()
avg_price = purchase_data_age_bucketed["Price"].mean()
purchase_value = purchase_data_age_bucketed["Price"].sum()

# For average $ per person, need to use unique players again
avg_tot_purchase_pp = purchase_value / purchase_data_age_bucketed["SN"].nunique()

# Create dataframe for results
age_purchase_summary_table = pd.DataFrame({"Purchase Count" : purchase_count, "Average Purchase Price" : avg_price, "Total Purchase Value" : purchase_value, "Average Total Purchase per Person" : avg_tot_purchase_pp})

# Do the necessary formatting
age_purchase_summary_table["Average Purchase Price"] = age_purchase_summary_table["Average Purchase Price"].map("${:.2f}".format)
age_purchase_summary_table["Total Purchase Value"] = age_purchase_summary_table["Total Purchase Value"].map("${:.2f}".format)
age_purchase_summary_table["Average Total Purchase per Person"] = age_purchase_summary_table["Average Total Purchase per Person"].map("${:.2f}".format)
age_purchase_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Band,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Group by SN
spender_df = purchase_data.groupby("SN")

# Do calculations needed to get results
purchase_count = spender_df["Price"].count()
avg_price = spender_df["Price"].mean()
total_price = spender_df["Price"].sum()

# Create dataframe for results
spender_summary_table = pd.DataFrame({"Purchase Count" : purchase_count, "Average Purchase Price" : avg_price, "Total Purchase Value" : total_price})
spender_table_sorted = spender_summary_table.sort_values("Total Purchase Value", ascending = False)
spender_table_sorted.head()

# Do the necessary formatting
spender_table_sorted["Average Purchase Price"] = spender_table_sorted["Average Purchase Price"].map("${:.2f}".format)
spender_table_sorted["Total Purchase Value"] = spender_table_sorted["Total Purchase Value"].map("${:.2f}".format)
spender_table_sorted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Retrieve Item ID, Item Name, and Item Price columns
popular_items_df = purchase_data.iloc[4,5,6]

# Group by Item ID and Item Name
# THIS LINE IS THROWING AN ERROR FOR ME. HAVE NOT BEEN ABLE TO FIGURE OUT HOW TO GET THIS TO RUN DESPITE LOTS OF RESEARCH.
# I TRIED USING BOTH LOC AND ILOC. COULD NOT GET EITHER TO WORK
popular_df_grouped = purchase_data.groupby([4,5])

# ABOVE LINE DOES NOT RUN PROPERLY- BELOW IS HOW I WOULD CONTINUE TO CODE FOR THIS SOLUTION IF I COULD GET MY MULTIPLE GROUPBY TO RUN
# Do calculations for purchase count, average item price, total purchase value
purchase_count = popular_df_grouped["Age"].count()
avg_price = popular_df_grouped["Price"].mean()
total_price = popular_df_grouped["Price"].sum()

# Create dataframe for results
popular_summary_table = pd.DataFrame({"Purchase Count" : purchase_count, "Item Price" : avg_price, "Total Purchase Value" : total_price})

# Sort purchase count column - descending
popular_summary_table_sorted = popular_summary_table.sort_values("Purchase Count", ascending = False)

# Do the necessary formatting
popular_summary_table_sorted["Item Price"] = popular_summary_table_sorted["Item Price"].map("${:.2f}".format)
popular_summary_table_sorted["Total Purchase Value"] = popular_summary_table_sorted["Total Purchase Value"].map("${:.2f}".format)
popular_summary_table_sorted.head()

IndexingError: Too many indexers

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# LIKE ABOVE, CANNOT GET THE MULTIPLE GROUPBY TO WORK PROPERLY
# BELOW IS HOW I WOULD SOLVE THE PROBLEM IF I COULD GET THAT WORKING AND THE DATA IN THE RIGHT DATAFRAME
# Sort purchase count column - descending
popular_summary_table_sorted_2 = popular_summary_table.sort_values("Total Purchase Value", ascending = False)

# Do the necessary formatting
popular_summary_table_sorted_2["Item Price"] = popular_summary_table_sorted_2["Item Price"].map("${:.2f}".format)
popular_summary_table_sorted_2["Total Purchase Value"] = popular_summary_table_sorted_2["Total Purchase Value"].map("${:.2f}".format)
popular_summary_table_sorted_2.head()

NameError: name 'popular_summary_table' is not defined